//- password.jade
extends ./layout.jade

block vars
  - var title = 'Password change'
block main-content
  div.container.theme-showcase(role="main")
    div.page-header
      include ./includes/messages.jade
    div.row
      form.form-horizontal(method='POST')
        div.col-sm-4.col-sm-offset-4
          h4.text-center Change your password
          div.form-group
            input.form-control(type="hidden", name="_csrf", value=csrfToken)
            label(for=existingpassword) Existing password
            input.form-control(type="password", name="existingpassword", placeholder="Existing password", required=true)
          div.form-group
            label(for=newpassword1) New Password (twice please)
            input.form-control(type="password", name="newpassword1", placeholder='New Password' required=true)
          div.form-group
            input.form-control(type="password", name="newpassword2", placeholder='Repeat new password' required=true)
          div.form-group.text-center
            button.btn.btn-primary.btn-lg(type="submit") Change
